.icons-list {
	list-style: none;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	border-top: 1px solid $border;
	border-left: 1px solid $border;
	>li {
		-ms-flex: 1 0 4rem;
		flex: 1 0 4rem;
	}
}

.icons-list-wrap {
	overflow: hidden;
}

.icons-list-item {
	text-align: center;
	height: 4rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-right: 1px solid $border;
	border-bottom: 1px solid $border;
	i {
		font-size: 1.05rem;
	}
}