footer{
	font-family: 'Poppins', sans-serif;
}
.footer {
	background: $white;
	border-top: 1px solid $border;
	font-size: .875rem;
	padding: 1.25rem 0;
	.social {
		ul li {
			float: left;
			padding: 7px;
		}
		margin: 0 auto;
	}
	a:not(.btn) {
		color: #1f252d;
	}
}

@media print {
	.footer {
		display: none;
	}
}

.footerimg img {
	width: 35px;
	height: 35px;
}

.footer-main .social li {
	float: left;
	margin-right: 15px;
	display: inline-block;
	list-style: none;
	font-size: 20px;
	a {
		line-height: 0;
	}
}

.social li {
	float: left;
	margin-right: 15px;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	float: right;
}

.social-icons li {
	a {
		color: $white;
	}
	margin-right: 15px;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	width: 40px;
	height: 40px;
	margin: 1px;
	border-radius: 50%;
	border: 1px solid $white-2;
	line-height: 40px;
}

.social li a {
	color: $white-6;
	line-height: 0;
}

.footer-main {
	.payments li {
		float: left;
		margin-right: 15px;
		display: inline-block;
		list-style: none;
		font-size: 20px;
		a {
			color: $white-6;
			line-height: 0;
		}
	}
	h6 {
		font-size: 18px;
		margin-bottom: 1.2rem;
	}
}

.footer .border-bottom {
	border-bottom: 1px solid $white-2 !important;
}

.footer-main {
	p {
		color: $white-7;
	}
	a {
		line-height: 2.5;
		transition: opacity .2s;
		color: $white-4;
	}
	&.footer-main1 {
		a {
			color: $white-4;
		}
		.form-control {
			border: 1px solid $border !important;
		}
	}
	.select2-container--default .select2-selection--single{
		background:$background;
		border:1px solid $white-1 !important;
		color:$white-8 !important;
	}
}

.footer-links a {
	color: $white-6;
	position:relative;
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		height: 14px;
		left: -2px;
		background: $white-1;
		top: 11px;
	}
	&:first-child{
		&:before{
			display:none;
		}
	}
	&:hover {
		text-decoration: none;
	}
}

@media (max-width: 992px) {
	.footer-main h6 {
		margin-top: 2rem;
	}
	.footer.bg-dark {
		.text-start {
			text-align: center !important;
		}
		.social {
			li {
				float: none;
				text-align: center;
			}
			text-align: center;
		}
	}
	.footer-main .row div:first-child h6 {
		margin-top: 0;
	}
}

.footer-main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-top: 1px solid $white-1;
	border-bottom: 1px solid $white-1;
}

footer .border-top {
	border-top: 1px solid $white-1 !important;
}

.footer-main .form-control {
	border: 0 !important;
}

.footer-payments {
	padding-left: 0;
	list-style: none;
	margin: 0;
	line-height: 1.25rem;
	li {
		display: inline-block;
		padding: 0 11px;
		font-size: 20px;
	}
}

.footer-main img {
	width: 80px;
	border: 1px solid $white-1;
	padding: 2px;
}

@media (min-width: 768px) {
	.footer.footer-style {
		margin-left: 0px !important;
	}
}