.header {
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
	z-index: 100;
	.dropdown-menu {
		margin-top: 0;
	}
	.mega-menu {
		width: 350px;
	}
}

@media print {
	.header {
		display: none;
	}
}

.header-brand {
	color: inherit;
	margin-right: 1rem;
	font-size: 1.25rem;
	white-space: nowrap;
	font-weight: 600;
	padding: 0;
	transition: .3s opacity;
	line-height: 2.9rem;
}

.app-header .header-brand {
	color: inherit;
	margin-right: 0;
	font-size: 1.25rem;
	white-space: nowrap;
	font-weight: 600;
	padding: 0;
	transition: .3s opacity;
	line-height: 2.9rem;
	min-width: 200px;
	text-align: center;
	.header-brand-img {
		margin-right: 0;
	}
}

.header-brand:hover {
	color: inherit;
	text-decoration: none;
}

.header-brand-img {
	height: 2.5rem;
	line-height: 2rem;
	vertical-align: bottom;
	margin-right: .5rem;
	width: auto;
}

.header-avatar {
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 50%;
}

.header-btn {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1rem;
}

.center-block {
	margin-right: auto;
	margin-left: auto;
	float: inherit !important;
}

.header-btn.has-new {
	position: relative;
	&:before {
		content: '';
		width: 6px;
		height: 6px;
		background: $danger;
		position: absolute;
		top: 4px;
		right: 4px;
		border-radius: 50%;
	}
}

.header-toggler {
	width: 2rem;
	height: 2rem;
	position: relative;
	color: $color;
	&:hover {
		color: $color;
	}
}

.header-toggler-icon {
	position: absolute;
	width: 1rem;
	height: 2px;
	color: inherit;
	background: currentColor;
	border-radius: 3px;
	top: 50%;
	left: 50%;
	margin: -2px 0 0 -.5rem;
	box-shadow: 0 5px currentColor, 0 -5px currentColor;
}

.header {
	.nav-item .badge,
	.nav-link .badge {
		position: absolute;
		top: 0;
		right: -1px;
		padding: .2rem .25rem;
		min-width: 1rem;
		font-size: 13px;
	}
}

#headerMenuCollapse {
	.nav-item .badge,
	.nav-link .badge {
		position: relative;
		min-width: 1rem;
		font-size: 10px;
		font-weight: 500;
	}
}

.header-main .social-icons {
	float: right;
	li {
		color: $color;
		margin-right: 35px;
		display: inline-block;
		list-style: none;
		font-size: 20px;
		a {
			color: $color;
		}
	}
}

.header-search {
	padding: 1.5rem 1.5rem;
	.header-icons .header-icons-link {
		display: inline-flex;
		margin-bottom: 0;
	}
}

.header-search .header-icons {
	.header-icons-link {
		li a {
			background: $black-2;
			width: 40px;
			height: 40px;
			border-radius: 50px;
			text-align: center;
			line-height: 2;
			margin-right: 5px;
			display: inline-block;
			margin-top: 4px;
		}
		.header-icons-link1,
		.header-icons-link2 {
			width: 2rem;
			text-align: center;
			height: 2rem;
			font-size: 16px;
			position: relative;
		}
	}
	.header-icons-link1 .main-badge1 {
		position: absolute;
		top: -5px;
		right: -5px;
		text-align: center;
		font-size: 10px;
	}
	.header-icons-link.icons li {
		background: $white;
	}
}

.top-bar {
	border-bottom: 1px solid transparent;
	background: transparent;
}

.top-bar-start ul {
	margin-bottom: 0;
}

.top-bar {
	.top-bar-end {
		float: right;
	}
	.top-bar-start {
		display: flex;
		.socials li {
			display: inline-block;
			font-size: 15px;
			margin:0;
			a{
				padding: 9px 15px;
				display: block;
				border-left: 1px solid rgba($white,0.1);
				font-size: 16px;
				line-height: 27px;
			}
			&:last-child{
				a{
					border-right: 1px solid rgba($white,0.1);
				}
			}
		}
		.contact li {
			margin: 10px 5px;
			display: inline-block;
			color: $color;
		}
	}
	.top-bar-end {
		display: flex;
	}
}

.header-search {
	.header-inputs .input-group-text.searchicon {
		top: 10px;
		right: 25px;
		position: relative;
	}
	.header-search-logo {
		margin-right: 1rem;
	}
	.header-nav .nav-cart .icon-cart {
		i {
			font-size: 18px;
		}
	}
}

.header-nav {
	display: flex;
}

.header-links {
	padding: 3px;
	li {
		margin: 5px;
		a {
			padding: 9px 18px;
			border-radius: 3px;
		}
	}
}

.header-main {
	.top-bar .contact {
		li {
			margin: 0;
			padding: 9px 18px;
			line-height: 26px;
			border-right:1px solid rgba($white,0.1);
		}
	}
	.top-bar-end .custom {
		display: flex;
		margin: 0;
		li {
			margin-right: 0;
			&:last-child {
				margin-right: 0;
				border-right: 1px solid rgba($white,0.1);
			}
			a{
				padding: 9px 11px;
				display: block;
				border-left: 1px solid rgba($white,0.1);				
				line-height: 26px;
				i{
					font-size: 16px;
				}
			}
		}
	}
	.ace-responsive-menu li a {
		color: $color;
		&:hover {
			color: $white;
		}
		&:focus {
			color: $black;
		}
	}
	.post-btn {
		float: right;
		margin-left: auto;
	}
}


.header-main-banner {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	z-index: 99;
	.horizontal-main,
	.horizontalMenu>.horizontalMenu-list {
		background: 0 0;
	}
}

@media (min-width: 992px) {
	.header-main-banner .horizontalMenu>.horizontalMenu-list>li>a {
		color: $white-8;
		>.fa {
			color: $white-8;
		}
	}
}

.header-style .horizontalMenu {
	float: inherit !important;
}

.top-bar {
	.select2-dropdown.select2-dropdown--below {
		width: 180px !important;
	}
	.select-country .select2-container {
		width: 150px !important;
	}
}

.top-bar-start span,
.top-bar-end span {
	color: $white;
}

.top-bar-start .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: $white transparent transparent transparent;
}

.top-bar .contact i {
	color: $white !important;
}

.header-white {
	display: none;
}
.top-bar.top-bar-light{
	background:$white;
	.top-bar-start .socials li a{
		border-color: $border !important;
		color:$color;
	}
	.top-bar-start span, .top-bar-end span{
		color:$color;
	}
	.top-bar-end .custom li a{
		border-color: $border !important;
	}
	.top-bar-end{ 
		li {
			&:last-child  {
				a {
					border-right: 1px solid rgba($white,0.1);	
				}
			}
		}
	}
}
.app-header2 .country-selector .avatar {
    width: 25px;
    height: 25px;
    line-height: 1rem;
    border-radius: 50%;
}
.app-header2 .heaader-right .nav-link.icon {
    font-size: 21px;
    margin: 0 4px;
    border-radius: 7px;
    padding: 8px 8px;
    width: auto;
    height: auto;
    background: transparent;
    color: #b2b5d0;
}
.app-header2 .user-img img {
    border-radius: 7px;
    margin: 8px auto;
}